---
import BaseHead from '@/components/basehead/BaseHead.vue'
import ArtCv from '@/components/ArtCv.vue'
import Background from '@/components/p5.vue'
import '@/styles.css'
---

<!doctype html>
<html lang='en'>
	<head> </head><body>
		<BaseHead client:only='vue' />
		<main>
			<ArtCv client:only='vue' />
		</main>
	</body>
	<Background client:only='vue' />
</html>
