---
import Background from '@/components/p5.vue';
import Home from '@/components/Home.vue';
import BaseHead from '@/components/basehead/BaseHead.vue';

import '@/styles.css'
---


<!doctype html>
<html lang="en">
	<head>
		
	</head>
	<body>
		<BaseHead client:only/>
		<main>
            <Home client:only />
            
			
		</main>
		<!-- <Footer /> -->
	</body>
    <Background client:only />
</html>
