---
// import Background from '../App.vue'
import Background from '../components/p5.vue';
import Home from '../App.vue';
import BaseHead from '../components/BaseHead.vue';

import '../styles.css'
---


<!doctype html>
<html lang="en">
	<head>
		
	</head>
	<body>
		<BaseHead client:only/>
		<main>
            <Home client:only />
            
			<!-- <section>
				<div class="main-banner">
					<div class="img-container">
						<img src="/Kirsten-Sims-O-Heavens.jpg" alt="Cielo estrellado" />

					</div>
					<h1>Descubre el poder de los mensajes que esconden tus sueños.</h1>
				</div>
			</section> -->
			
		</main>
		<!-- <Footer /> -->
	</body>
    <Background client:only />
</html>
