---
//import Background from "@/components/p5.vue"
import BaseHead from "@/components/basehead/BaseHead.vue"
import CarrouselProjects from "@/components/CarrouselProjects.vue"

import "@/styles.css"
---

<!doctype html>
<html lang="en">
	<head> </head><body>
		<BaseHead client:only />
			<main>
				<CarrouselProjects />

				
			</main>
			<!-- <Background client:only /> -->
		
	</body>
</html>
