@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 249, 251, 255;
  --background-end-rgb: 210, 231, 238;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 235, 205, 205;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  cursor: pointer;
}
h1 {
  font-size: 1rem;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}