@import url('https://fonts.googleapis.com/css2?family=RobotoMono+Roboto:wght@300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* ************ APP MAIN **********/

/* ************ desktop **********/
* {
  font-size: 89%;
  line-height: 100%;
}
body {
  margin: 0 7rem;
}
.name-title {
  font-size: 24px;
}

.description {
  font-size: 16px;
  font-weight: 300;
  max-width: 42rem;
  padding-top: 0;
  p {
    line-height: 140%;
  }
}
.email {
  font-size: 12px;
}
button {
  font-size: 15px;
  padding: 6px 16px;
}

.carrousel {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  flex-direction: row;
  padding-right: 1rem;
  padding-left: 10px;
  padding-bottom: 20px;
  gap: 50px;
  scroll-behavior: inherit;
  ::-webkit-scrollbar {
    display: none;
  }

  /* Ocultar scrollbar para IE, Edge y Firefox */
  scrollbar-width: none;
  -ms-overflow-style: none; /* IE and Edge */
}

.card {
  width: 90vw;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  min-width: 26.4em;
}

.card-content {
  padding: 30px 0 30px 0;
  height: 20rem;
}

.card-text-wrapper {
  padding: 1px 24px;
}
.card-title {
  font-size: 20px;
  margin-bottom: 16px;
}

.card-description {
  font-size: 14px;
  line-height: 152%;
}

.tag {
  font-size: 13px;
  padding: 0 10px;
}

/************ media query for mobile **********/
@media (max-width: 899px) {
  * {
    line-height: 1.3em;
    list-style: none;
  }

  a {
    font-size: 13px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
    -webkit-tap-highlight-color: transparent; /* Safari */
    -webkit-touch-callout: none; /* iOS Safari */
  }

  h1 {
    a {
      font-size: 20px;
    }
  }

  body {
    margin: 0 18px;
  }

  .name-title {
    font-size: 22px;
  }

  button {
    font-weight: 300;
  }

  .carrousel {
    flex-direction: column;
  }
}
